
@*@model IEnumerable<QuanLyDinhDuong.Models.BENHNHAN>*@
@{
    ViewBag.Title = "KetQuaTinhToanChiSo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<style>
    /*body {
        margin: 0;
        color: #6a6f8c;
        background: #c8c8c8;
        font: 600 16px/18px 'Open Sans', sans-serif
    }*/
    .background {
        background-image: url('../../Content/img/people_tinhtoanchiso.png');
        /*background-image: url('../../Content/img/bg_login.png');*/
        background-size: cover;
        /*background: #76b852;*/ /* fallback for old browsers */
        /*background: -webkit-linear-gradient(right, #76b852, #8DC26F);
        background: -moz-linear-gradient(right, #76b852, #8DC26F);
        background: -o-linear-gradient(right, #76b852, #8DC26F);
        background: linear-gradient(to left, #76b852, #8DC26F);*/
        /*font-family: Arial, sans-serif;*/
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font: 600 16px/18px 'Open Sans', sans-serif
    }

    .login-box {
        width: 100%;
        margin: auto;
        max-width: 525px;
        min-height: 670px;
        position: relative;
        /*background: url(https://images.unsplash.com/photo-1507208773393-40d9fc670acf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80) no-repeat center;*/
        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
    }

    .login-snip {
        width: 100%;
        height: 100%;
        position: absolute;
        padding: 90px 70px 50px 70px;
        /*background: rgba(0, 77, 77, .9);*/
    }

        .login-snip .login,
        .login-snip .sign-up-form {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            transform: rotateY(180deg);
            backface-visibility: hidden;
            transition: all .4s linear
        }

        .login-snip .sign-in,
        .login-snip .sign-up,
        .login-space .group .check {
            display: none
        }

        .login-snip .tab,
        .login-space .group .label,
        .login-space .group .button {
            text-transform: uppercase
        }

        .login-snip .tab {
            font-size: 22px;
            margin-right: 15px;
            padding-bottom: 5px;
            margin: 0 15px 10px 0;
            display: inline-block;
            border-bottom: 2px solid transparent
        }

        .login-snip .sign-in:checked + .tab,
        .login-snip .sign-up:checked + .tab {
            color: #fff;
            border-color: #1161ee
        }

    .login-space {
        min-height: 345px;
        position: relative;
        perspective: 1000px;
        transform-style: preserve-3d
    }

        .login-space .group {
            margin-bottom: 15px
        }

            .login-space .group .label,
            .login-space .group .input,
            .login-space .group .button {
                width: 100%;
                color: #fff;
                display: block
            }

            .login-space .group .input,
            .login-space .group .button {
                border: none;
                padding: 15px 20px;
                border-radius: 25px;
                background: rgba(255, 255, 255, .1)
            }

            .login-space .group input[data-type="password"] {
                text-security: circle;
                -webkit-text-security: circle
            }

            .login-space .group .label {
                color: #aaa;
                font-size: 12px
            }

            .login-space .group .button {
                background: #1161ee
            }

            .login-space .group label .icon {
                width: 15px;
                height: 15px;
                border-radius: 2px;
                position: relative;
                display: inline-block;
                background: rgba(255, 255, 255, .1)
            }

                .login-space .group label .icon:before,
                .login-space .group label .icon:after {
                    content: '';
                    width: 10px;
                    height: 2px;
                    background: #fff;
                    position: absolute;
                    transition: all .2s ease-in-out 0s
                }

                .login-space .group label .icon:before {
                    left: 3px;
                    width: 5px;
                    bottom: 6px;
                    transform: scale(0) rotate(0)
                }

                .login-space .group label .icon:after {
                    top: 6px;
                    right: 0;
                    transform: scale(0) rotate(0)
                }

            .login-space .group .check:checked + label {
                color: #fff
            }

                .login-space .group .check:checked + label .icon {
                    background: #1161ee
                }

                    .login-space .group .check:checked + label .icon:before {
                        transform: scale(1) rotate(45deg)
                    }

                    .login-space .group .check:checked + label .icon:after {
                        transform: scale(1) rotate(-45deg)
                    }

    .login-snip .sign-in:checked + .tab + .sign-up + .tab + .login-space .login {
        transform: rotate(0)
    }

    .login-snip .sign-up:checked + .tab + .login-space .sign-up-form {
        transform: rotate(0)
    }

    *,
    :after,
    :before {
        box-sizing: border-box
    }

    .clearfix:after,
    .clearfix:before {
        content: '';
        display: table
    }

    .clearfix:after {
        clear: both;
        display: block
    }

    a {
        color: inherit;
        text-decoration: none
    }

    .hr {
        height: 2px;
        margin: 60px 0 50px 0;
        background: rgba(255, 255, 255, .2)
    }

    .foot {
        text-align: center
    }

    .card {
        padding: 2% 0 2%;
        margin: auto;
        width: 500px;
    }

    ::placeholder {
        color: #b3b3b3
    }
</style>



<div class="header-backup"></div>
@using (@Html.BeginForm())
{
    @Html.ValidationSummary()

<div class="background">
    <div class="background1">
        <div class="row">
            <div class="card">
                <div class="login-box">
                    <div class="login-snip" style="text-align:center;">
                        <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
                        <label style="font-size:30px; color:white;" for="tab-1" class="tab">Kết quả cơ thể</label>
                        <input id="tab-2" type="radio" name="tab" class="sign-up" style="display:none;">
                        <label style="display:none;" for="tab-2" class="tab">đăng ký</label>
                        <div class="login-space">
                            <div style="margin-top:20px;" class="login">
                                <div class="group">
                                    <label style="font-size:18px; color:white;" for="bmi" class="label">BMI</label>
                                    <input id="bmi" type="text" class="input" placeholder="BMI" value="@Model.BMI" disabled>
                                </div>
                                <div class="group">
                                    <label style="font-size:18px; color:white;" for="calo" class="label">Lượng calo cần nạp một ngày</label>
                                    <input id="calo" type="text" class="input" placeholder="Lượng calo cần nạp một ngày" value="@Model.CALO" disabled>
                                </div>
                                <div class="group">
                                    <label style="font-size:18px; color:white;" for="tongquancothe" class="label">Tổng quan về cơ thể</label>
                                    <input id="tdee" type="text" class="input" placeholder="Tổng quan về cơ thể" value="@ViewData["ThongTinCoThe"]" disabled>
                                </div>
                                <div style="margin-top:30px;" class="group">
                                    <a href="@Url.Action("TinhToanChiSo", "Home")">
                                        <input style="color:#dddddd;" class="button" value="Trở về trang tính toán">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}



