@model QuanLyDinhDuong.Models.TAIKHOAN
@{
    ViewBag.Title = "Dangnhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    /*body {
        margin: 0;
        color: #6a6f8c;
        background: #c8c8c8;
        font: 600 16px/18px 'Open Sans', sans-serif
    }*/
    .background {
        background-image: url('../../Content/img/bg_login.png');
        background-size: cover;
        /*background: #76b852;*/ /* fallback for old browsers */
        /*background: -webkit-linear-gradient(right, #76b852, #8DC26F);
        background: -moz-linear-gradient(right, #76b852, #8DC26F);
        background: -o-linear-gradient(right, #76b852, #8DC26F);
        background: linear-gradient(to left, #76b852, #8DC26F);*/
        /*font-family: Arial, sans-serif;*/
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font: 600 16px/18px 'Open Sans', sans-serif
    }

    .login-box {
        width: 100%;
        height: 850px;
        margin: auto;
        max-width: 525px;
        min-height: 670px;
        position: relative;
        /*background: url(https://images.unsplash.com/photo-1507208773393-40d9fc670acf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80) no-repeat center;*/
        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
    }

    .login-snip {
        width: 100%;
        height: 100%;
        position: absolute;
        padding: 90px 70px 50px 70px;
        background: rgba(0, 77, 77, .9)
    }

        .login-snip .login,
        .login-snip .sign-up-form {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            transform: rotateY(180deg);
            backface-visibility: hidden;
            transition: all .4s linear
        }

        .login-snip .sign-in,
        .login-snip .sign-up,
        .login-space .group .check {
            display: none
        }

        .login-snip .tab,
        .login-space .group .label,
        .login-space .group .button {
            text-transform: uppercase
        }

        .login-snip .tab {
            font-size: 22px;
            margin-right: 15px;
            padding-bottom: 5px;
            margin: 0 15px 10px 0;
            display: inline-block;
            border-bottom: 2px solid transparent
        }

        .login-snip .sign-in:checked + .tab,
        .login-snip .sign-up:checked + .tab {
            color: #fff;
            border-color: #1161ee
        }

    .login-space {
        min-height: 345px;
        position: relative;
        perspective: 1000px;
        transform-style: preserve-3d
    }

        .login-space .group {
            margin-bottom: 15px
        }

            .login-space .group .label,
            .login-space .group .input,
            .login-space .group .button {
                width: 100%;
                color: #fff;
                display: block
            }

            .login-space .group .input,
            .login-space .group .button {
                border: none;
                padding: 15px 20px;
                border-radius: 25px;
                background: rgba(255, 255, 255, .1)
            }

            .login-space .group input[data-type="password"] {
                text-security: circle;
                -webkit-text-security: circle
            }

            .login-space .group .label {
                color: #aaa;
                font-size: 12px
            }

            .login-space .group .button {
                background: #1161ee
            }

            .login-space .group label .icon {
                width: 15px;
                height: 15px;
                border-radius: 2px;
                position: relative;
                display: inline-block;
                background: rgba(255, 255, 255, .1)
            }

                .login-space .group label .icon:before,
                .login-space .group label .icon:after {
                    content: '';
                    width: 10px;
                    height: 2px;
                    background: #fff;
                    position: absolute;
                    transition: all .2s ease-in-out 0s
                }

                .login-space .group label .icon:before {
                    left: 3px;
                    width: 5px;
                    bottom: 6px;
                    transform: scale(0) rotate(0)
                }

                .login-space .group label .icon:after {
                    top: 6px;
                    right: 0;
                    transform: scale(0) rotate(0)
                }

            .login-space .group .check:checked + label {
                color: #fff
            }

                .login-space .group .check:checked + label .icon {
                    background: #1161ee
                }

                    .login-space .group .check:checked + label .icon:before {
                        transform: scale(1) rotate(45deg)
                    }

                    .login-space .group .check:checked + label .icon:after {
                        transform: scale(1) rotate(-45deg)
                    }

    .login-snip .sign-in:checked + .tab + .sign-up + .tab + .login-space .login {
        transform: rotate(0)
    }

    .login-snip .sign-up:checked + .tab + .login-space .sign-up-form {
        transform: rotate(0)
    }

    *,
    :after,
    :before {
        box-sizing: border-box
    }

    .clearfix:after,
    .clearfix:before {
        content: '';
        display: table
    }

    .clearfix:after {
        clear: both;
        display: block
    }

    a {
        color: inherit;
        text-decoration: none
    }

    .hr {
        height: 2px;
        margin: 50px 0 50px 0;
        background: rgba(255, 255, 255, .2)
    }

    .foot {
        text-align: center
    }

    .card {
        padding: 2% 0 2%;
        margin: auto;
        width: 500px;
    }

    ::placeholder {
        color: #b3b3b3
    }
</style>

@using (Html.BeginForm())
{
    <div class="header-backup"></div>
    <div class="background">
        <div class="row">
            @*<div class="col-md-6 mx-auto p-0">*@
            <div class="card">
                <div class="login-box">
                    <div class="login-snip">
                        <input id="tab-1" type="radio" name="tab" class="sign-in" value="DangNhap" checked>
                        <label for="tab-1" class="tab">Đăng Nhập</label> 
                        <input id="tab-2" type="radio" name="tab" class="sign-up" value="DangKy">
                        <label for="tab-2" class="tab">Đăng Ký</label>
                        <div class="login-space">
                            <div style="margin-top:20px;" class="login">
                                @*<h4 style="color:red; text-align:center">@ViewBag.ThongBao1</h4>*@
                                <div class="group">
                                    @*<label for="user" class="label">Tài khoản</label>*@
                                    <h4 style="text-align:center; color:red">@ViewData["Loi1"]</h4>
                                    
                                    <input id="user" type="text" class="input" placeholder="Nhập tên tài khoản" name="TenDangNhap">
                                </div>
                                <div class="group">
                                    @*<label for="pass" class="label">Mật khẩu</label>*@
                                    <h4 style="text-align:center; color:red">@ViewData["Loi2"]</h4>
                                    <input id="pass" type="password" class="input" data-type="password" placeholder="Nhập mật khẩu" name="MatKhauDangNhap">

                                </div>                          
                                @*<div class="group"> <input id="check" type="checkbox" class="check" checked> <label for="check"><span class="icon"></span> Lưu đăng nhập</label> </div>*@


                                <div class="group"> <input type="submit" style="color:#dddddd;" class="button" value="Đăng nhập"> </div>
                                <div class="hr"></div>
                                <div class="foot"> <a style="color:#dddddd;" href="#">Quên mật khẩu?</a> </div>
                            </div>
                            <div style="margin-top:20px;" class="sign-up-form">
                                @*<h4 style="color:red; text-align:center">@ViewBag.ThongBao2</h4>*@
                                <div class="group">
                                    <h4 style="text-align:center; color:red">@ViewData["Loi3"]</h4>
                                    <input id="TaiKhoan" name="TaiKhoan" type="text" class="input" placeholder="Nhập tên tài khoản của bạn" @*pattern="[a-z][0-9]{1,20}"*@>
                                </div>
                                <div class="group">
                                    <h4 style="text-align: center; color:red">@ViewData["Loi4"]</h4>
                                    <input id="MatKhau" name="MatKhau" type="password" class="input" data-type="password" placeholder="Nhập mật khẩu" @*pattern="[a-z][0-9]{1,20}"*@>
                                </div>
                                <div class="group">
                                    <h4 style="text-align: center; color:red">@ViewData["Loi5"]</h4>
                                    <input id="NhapLaiMatKhau" name="NhapLaiMatKhau" type="password" class="input" data-type="password" placeholder="Nhập lại mật khẩu">
                                </div>
                                <div class="group">
                                    <h4 style="text-align:center; color:red">@ViewData["Loi6"]</h4>
                                    <input id="email" name="email" type="email" class="input" placeholder="Nhập địa chỉ email của bạn">
                                </div>
                                <div class="group">
                                    <h4 style="text-align: center; color:red">@ViewData["Loi7"]</h4>
                                    <input id="sdt" name="sdt" type="text" class="input" placeholder="Nhập số điện thoại của bạn" @*pattern="[0-9]{10}"*@>
                                </div>
                                <div class="group">
                                    <label style="font-size:15px" class="label">Nhập ngày sinh</label>
                                    <h4 style="text-align:center; color:red">@ViewData["Loi8"]</h4>
                                    <input id="ngaysinh" name="ngaysinh" type="date" class="input">
                                </div>
                                <div class="group">
                                    <label class="label" style="font-size:15px;margin-top:10px">Giới tính</label>
                                    <div class="form-check" style="text-align:center">
                                        <input class="form-check-input" type="radio" name="RadioGioiTinh" id="RadioNam" value="Nam">
                                        <label class="form-check-label" style="color:white" for="RadioNam">
                                            Nam
                                        </label>
                                        <input class="form-check-input" type="radio" name="RadioGioiTinh" id="RadioNu" value="Nữ" checked>
                                        <label class="form-check-label" style="color:white" for="RadioNu">
                                            Nữ
                                        </label>
                                    </div>
                                </div>
                                
                                <div class="group"> 
                                    <button type="submit" @*style="margin-top:10px"*@ class="button">Đăng ký</button>
                                </div>
                                <div class="hr"></div>
                                <div class="foot"> <label style="color:#dddddd;" for="tab-1">Bạn đã có tài khoản?</label> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    var tk = document.getElementById('TaiKhoan');
    var mk = document.getElementById('MatKhau');
    var sdt = document.getElementById('sdt');

    tk.oninvalid = function (event) {
        event.target.setCustomValidity('Tên tài khoản không được có ký tự đặc biệt và không dài quá 20 ký tự');
    }
    mk.oninvalid = function (event) {
        event.target.setCustomValidity('Mật khẩu không được có ký tự đặc biệt và không dài quá 20 ký tự');
    }
    sdt.oninvalid = function (event) {
        event.target.setCustomValidity('Số điện thoại phải là 10 số');
    }
</script>


