<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">



    <title>DOCTOR - Responsive HTML &amp; Bootstrap Template</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />*@
    <link href="~/Content/css/style.css" rel="stylesheet" />

    <link href="~/Content/css/font1.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/font2.css" rel="stylesheet" type="text/css" />

    <script src="~/Content/js/modernizr.js"></script>
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- ====================================================
    header section -->
    <header class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-5 header-logo">
                    <br>
                    <a href="@Url.Action("Index","Home")"><img src="~/Content/img/logo1.png" alt="" class="img-responsive logo"></a>
                </div>

                <div class="col-md-7 ">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid nav-bar">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                <ul class="nav navbar-nav navbar-right">
                                    <li><a class="menu" href="@Url.Action("Index","Home")#home">TRANG CHỦ</a></li>
                                    <li><a class="menu" href="@Url.Action("Index","Home")#about">GIỚI THIỆU</a></li>
                                    <li><a class="menu" href="@Url.Action("Index","Home")#service">CƠ THỂ</a></li>
                                    <li><a class="menu" href="@Url.Action("Index","Home")#team">ĐỘI NGŨ</a></li>
                                    <li><a class="menu" href="@Url.Action("Index","Home")#contact">LIÊN HỆ</a></li>
                                </ul>
                            </div><!-- /navbar-collapse -->
                        </div><!-- / .container-fluid -->
                    </nav>
                </div>
            </div>
        </div>
    </header> <!-- end of header area -->
    <div class="body-content">
        @RenderBody()
        <hr />
        <!-- footer starts here -->
        <footer class="footer clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 footer-para">
                        <p>&copy;Quản lý dinh dưỡng</p>
                    </div>
                    <div class="col-xs-6 text-right">
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-skype"></i></a>
                    </div>
                </div>
            </div>
        </footer>

        <!-- script tags
        ============================================================= -->
        <script src="~/Content/js/jquery-2.1.1.js"></script>

        <script src="~/Content/js/googlemap.js"></script>

        <script src="~/Content/js/bootstrap.min.js"></script>
        <script src="~/Content/js/smoothscroll.js"></script>
        <script src="~/Content/js/custom.js"></script>
        <script src="~/Content/js/gmaps.js"></script>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/60fc3d30d6e7610a49acd2d4/1fbcku28p';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</body>

</html>
